* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.myflex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

#grideasy {
    width: 800px;
}

#gridmedium {
    width: 520px;
}

#gridhard {
    width: 480px;
}

.square {
    width: 80px;
    height: 80px;
    border: solid 1px red;
}

.evidenzia {
    background: red;
}

